:root {
    --black: #182628;
    --dark-green: #3B945E;
    --green: #57BA98;
    --turq: #65CCB8;
    --white: #F2F2F2;
    --picture-size:200px;
}

.header-container {
    width: auto;
    height: 250px;
    background-color: var(--black);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

}

.title {
    margin-left: 80px;
    width: 153x;
    height: 225px;
    margin-right: auto;
}

.web-head {
    width: 175px;
    height: 65px;
    background-color: var(--dark-green);
    border: 1px solid var(--white);
    align-items: center;
    justify-items: center;
    text-align: center;
    color: var(--white);
    font-size: large;
}

.roster-container {
    width: 1160px;
    height: 200px;
    background-color: var(--black);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 80px;
    border: 1px solid var(--green);
    box-shadow: 5px 10px var(--green);
}


.box {
    width: 300px;
    height: var(--picture-size);
    background-color: var(--dark-green) ;
    text-align: left;
    color: var(--turq);
    align-items: center;
    float: left;
}

.pix {
    width: var(--picture-size);
    height: var(--picture-size);
}

.divider {
    height: var(--picture-size);
    width: 80px;
    background-color: var(--dark-green);
}

.game-logo {
    height: 28%;
    width: 28%;
    vertical-align: middle;

}

.social-links {
    width: 25px;
    height: 25px;
    background-color: var(--green);
}

.bio {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
    width: 270px;
    background-color: var(--turq);
    color: var(--white);
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    padding: 5px;
}

.falcon{
    position: relative; 
    top: -25px;
    left: 60px;
    width: 170px;
    height: 225px;
}

.fox{
    position: relative; 
    top: 10px;
    left: 40px;
    width: 205px;
    height: 192px;
}

.jak{
    position: relative;
    top: -5px;
    left: 60px;
    width: 161px;
    height: 200px;
}

.usec{
    position: relative;
    top: 5px;
    left: 30px;
    width: 217px;
    height: 200px;
}

.peach{
    position: relative;
    left: 65px;
    width: 148px; 
    height: 197px;
}

.linne{
    position: relative;
    left: 85px;
    top: 3px;
    width: 106px;
    height: 192px;
}

a:link{
    color: var(--white);
    text-decoration: none;
}

a:visited{
    color: var(--white);
    text-decoration: none;
}